<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ seccion | titlecase }} - {{ accion | titlecase }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-item>
            <ion-icon name="{{ accionIco }}" slot="start"></ion-icon>
            <ion-label>Editar descripción</ion-label>
            <ion-button fill="outline" slot="end" (click)="saveChanges( )" *ngIf="accion==='editar'">Guardar</ion-button>
        </ion-item>

        <ion-card-content *ngIf="accion === 'ver'">
            <ion-textarea value="{{ item.desc }}" autoGrow="true" [(ngModel)]="desc" readonly="true" *ngIf="seccion === 'calidad'"></ion-textarea>
            <ion-input value="{{item.desc}}" *ngIf="seccion != 'calidad'"></ion-input>
        </ion-card-content>

        <ion-card-content *ngIf="accion === 'editar'">
            <ion-textarea value="{{ item.desc }}" autoGrow="true" [(ngModel)]="desc" placeholder="Agregar descripción"></ion-textarea>
        </ion-card-content>

    </ion-card>

</ion-content>