<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab2/vacaciones"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ titulo }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label>Periodo</ion-label>
            <ion-datetime [(ngModel)]="periodo" picker-format="YYYY" readonly="{{readonly}}" displayFormat="{{ periodoIni }} - YYYY" (ionChange)="updatePeriodo()"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Fecha de inicio</ion-label>
            <ion-datetime [(ngModel)]="item.fecha" readonly="{{readonly}}" displayFormat="DDD. MMM DD, YYYY" [dayShortNames]="dayShortNames" [monthShortNames]="monthShortNames" yearValues="{{ yearValues }} ">
            </ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Fecha final</ion-label>
            <ion-datetime [(ngModel)]="item.fechaFin" readonly="{{readonly}}" displayFormat="DDD. MMM DD, YYYY" [dayShortNames]="dayShortNames" [monthShortNames]="monthShortNames" yearValues="{{ yearValues }} ">
            </ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Nota</ion-label>
            <ion-input [(ngModel)]="item.desc" place-holder="Agregar nota"></ion-input>
        </ion-item>

        <ion-item *ngIf="accion !=='ver' ">
            <ion-button expand="full " (click)="agregarVaca() ">{{ msgbtn }}</ion-button>
        </ion-item>

    </ion-list>

</ion-content>