<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title>Calidad</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list>

        <ion-item-sliding *ngFor="let item of bitacora.calidadLista">
            <ion-item class="animated FadeInDown" (click)="verDesc(item)">

                Calificación: <strong>{{ item.calificacion }} </strong>
                <ion-note slot="end"> {{ item.fecha | date }} </ion-note>
                <!-- <div *ngIf="item.desc">{{ item.desc }}</div> -->

            </ion-item>

            <ion-item-options side="start">
                <ion-item-option color="danger">
                    <ion-icon slot="icon-only" name="trash" (click)="borrarCalidad( item )">
                    </ion-icon>
                </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
                <ion-item-option color="secondary">
                    <ion-icon slot="icon-only" name="create-outline" (click)="editarCalidad(item)">
                    </ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="agregarCalificacion()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>