<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Fallas en Home Office
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-list>

    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button href="/tabs/tab2/fallas-homeoffice/registro">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>