<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-title>
            Registro
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/faltas">Faltas</ion-button>
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/firma-desfirma">Firma y desfirma</ion-button>
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/incapacidades">Incapacidades</ion-button>
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/vacaciones">Vacaciones</ion-button>
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/fallas-homeoffice">Fallas en Home Office</ion-button>
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/capacitacion">Capacitación</ion-button>

    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/calidad">Calidad</ion-button>
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/descansos">Descansos</ion-button>



</ion-content>