<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-title>
            Registro
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/lista/calidad">Calidad</ion-button>
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/lista/capacitacion">Capacitación</ion-button>
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/lista/descansos">Descansos</ion-button>
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/lista/homeOffice">Fallas en Home Office</ion-button>
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/lista/faltas">Faltas</ion-button>
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/lista/firma">Firma y desfirma</ion-button>
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/lista/incapacidades">Incapacidades</ion-button>
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/lista/vacaciones">Vacaciones</ion-button>

</ion-content>