<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-title>
            Registro
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <br>
    <ion-button size="large" expand="block" href="/tabs/tab2/faltas">Faltas</ion-button>
    <br>
    <ion-button size="large" expand="block" href="#">Firma y desfirma</ion-button>
    <br>
    <ion-button size="large" expand="block" href="#">Incapacidades</ion-button>
    <br>
    <ion-button size="large" expand="block" href="#">Vacaciones</ion-button>
    <br>
    <ion-button size="large" expand="block" href="#">Fallas en Home Office</ion-button>
    <br>
    <ion-button size="large" expand="block" href="#">Capacitación</ion-button>

    <br>
    <ion-button size="large" expand="block" href="#">Calidad</ion-button>
    <br>
    <ion-button size="large" expand="block" href="#">Descansos</ion-button>



</ion-content>